<<<<<<< HEAD
<div class="container">
  <div class="row from_kuukan">
    <div class="around_water row">
      <h2>水まわり</h2>
      <div class="box col-md-6 col-lg-4 bathroom"><a href="#"><%= image_tag 'bathroom.jpg' %><p>浴室</p></a></div>
      <div class="box col-md-6 col-lg-4 toilet"><a href="#"><%= image_tag 'toilet.jpg' %><p>トイレ</p></a></div>
      <div class="box col-md-6 col-lg-4 kitchen"><a href="#"><%= image_tag 'kitchen.jpg' %><p>キッチン</p></a></div>
      <div class="box col-md-6 col-lg-4 washbasin"><a href="#"><%= image_tag 'washbasin.jpg' %><p>洗面化粧台</p></a></div>
    </div>
    <div class="inside row">
      <h2>室内</h2>
      <div class="box col-md-6 col-lg-4 living"><a href="#"><%= image_tag 'living.jpg' %><p>リビング</p></a></div>
      <div class="box col-md-6 col-lg-4 window"><a href="#"><%= image_tag 'window.jpg' %><p>窓まわり</p></a></div>
    </div>
    <div class="outsude row">
      <h2>屋外</h2>
      <div class="box col-md-6 col-lg-4 bathroom"><a href="#"><%= image_tag 'entrance.jpg' %><p>玄関</p></a></div>
      <div class="box col-md-6 col-lg-4 bathroom"><a href="#"><%= image_tag 'exteria.jpg' %><p>エクステリア</p></a></div>
=======
<div class="container-fluid">

  <div class="row from_kuukan">
    <div class="row around_water">
      <h2>水まわり</h2>
      <div class="box col-xs-6 col-lg-4 kitchen"><a href="/products/new"><%= image_tag 'batroom.jpg' %><p>浴室</p></a></div>
      <div class="box col-xs-6 col-lg-4 toilet"><a href="#"><%= image_tag 'toilet.jpg' %><p>トイレ</p></a></div>
      <div class="box col-xs-6 col-lg-4 washbasin"><a href="#"><%= image_tag 'kitchen.jpg' %><p>キッチン</p></a></div>
      <div class="box col-xs-6 col-lg-4 washbasin"><a href="#"><%= image_tag 'washbasin.jpg' %><p>洗面化粧台</p></a></div>
    </div>
    <div class="row inside">
      <h2>室内</h2>
      <div class="box col-xs-6 col-lg-4 living"><a href="#"><%= image_tag 'living.jpg' %><p>リビング</p></a></div>
      <div class="box col-xs-6 col-lg-4 window"><a href="#"><%= image_tag 'window.jpg' %><p>窓まわり</p></a></div>
    </div>
    <div class="row outside">
      <h2>屋外</h2>
      <div class="box col-xs-6 col-lg-4 entrance"><a href="#"><%= image_tag 'entrance.jpg' %><p>玄関</p></a></div>
      <div class="box col-xs-6 col-lg-4 exteria"><a href="#"><%= image_tag 'exteria.jpg' %><p>エクステリア</p></a></div>
>>>>>>> advanced-login
    </div>


  </div>
<<<<<<< HEAD
=======




>>>>>>> advanced-login
</div>
