<!DOCTYPE html>
<html>
  <head>
    <title>Cospadotcom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Cospa.com", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ユーザー登録（無料）",   '#' %></li>
            <li><%= link_to "ログイン",   '#' %></li>
            <li><%= link_to "ご利用案内", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
    <footer class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ユーザー登録（無料）",   '#' %></li>
          <li><%= link_to "ログイン",   '#' %></li>
          <li><%= link_to "ご利用案内", '#' %></li>
        </ul>
      </nav>
      </div>
    </footer>
  </body>
</html>
